/* General: */
body{
    background-color: black;
}

#game {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#code {
    font-size: 40px;
    margin-bottom: 15px;
    color: white;
}
.square {
    height: 100px;
    width: 100px;
    background-color: #F8F8FF;
    border: solid 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 31px;
}

#b_container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    width: auto;

}

.selection{
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: larger;
    color: white;
}

.selection_box {
    margin-top: 5px;
    padding-top: 0;
    color: white;
}

h2 {
    margin-top: auto;
    color: white;
}

#next_level {
    cursor: pointer;
}




/* Start Page */

#start_About_Container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

#start {
    margin-bottom: 50px;
    width: 200px;
    height: 100px;
    border-radius: 25% 10%;
    cursor:pointer;
    background-color: white;
    font-size: xx-large;
}

#about {
    width: 200px;
    height: 100px;
    border-radius: 10% 25%;
    cursor:pointer;
    background-color: white;
    font-size: x-large;
}