/* General: */
body{
    background-color: black;
}

#game {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#code {
    font-size: 40px;
    margin-bottom: 15px;
    color: white;
}

#wrongs {
    margin-top: auto;
    color: white;
    font-size: x-large;
    margin-bottom: 20px;
}

.square {
    height: 100px;
    width: 100px;
    background-color: #F8F8FF;
    border: solid 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 31px;
}

#b_container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    width: auto;

}

.selection{
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: x-large;
    color: white;
}

.selection_box {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-top: 0;
    color: white;
    text-decoration: underline;
    font-size: x-large;

}



#next_level {
    cursor: pointer;
    display: none;
}




/* Start Page */

#start_About_Container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

#start {
    margin-bottom: 50px;
    width: 200px;
    height: 100px;
    border-radius: 25% 10%;
    cursor:pointer;
    background-color: white;
    font-size: xx-large;
}

#about {
    width: 200px;
    height: 100px;
    border-radius: 10% 25%;
    cursor:pointer;
    background-color: white;
    font-size: x-large;
}

/* Modal: */

#modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/	
	/* overflow: auto;  */
	display: none;
	/*Set this to `none` so that the modal does not show initially on page load.*/	
}

#modal-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 100px auto;
	/*This will set the margins for the top and the bottom to 150px (or larger). The right and left will automatically set themselves (and keep the box centered horizontally).*/		
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	/*This will give the box some depth.*/
	padding: 2%;
	line-height: 120%;
	font-family: Arial, Helvetica, sans-serif;
	overflow: auto;
}

#modal-footer {
	text-align: right;
}

h1 {
	padding-bottom: 15px;
}

.modal-buttons {
	padding: 14px 18px;
	background-color: #677996;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
}